:root {
    --primary-color: #94ebc5;
    --secondary-color: #08472b;
    --tertiary-color: #525252;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    border-bottom: solid 5px var(--primary-color);
    z-index: 9999;
    
}

header h1 {
    font-weight: bold;
    font-style: italic;
    color: var(--primary-color);
    border: 5px 5px 5px 10px;
    margin: 0;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 100px;
    text-shadow: none;
    text-decoration: none;
}

.primary-border {
    border-color: var(--secondary-color);
}

.hero {
    display: flex;
    justify-content: right;
    align-content: center;
    margin: 25px 25px;
    border-bottom: solid 2px;
    padding-bottom: 30px;
}

.hero-img img{
    height: 100%;
    width: 100%;
    min-width: 165px;
}

.hero-subtitle {
    margin: auto 15px auto;
}

.content {
    display: flex;
    flex-flow: column wrap;
}

.content-title {
    font-size: 50px;
    font-weight: normal;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}