:root {
    --primary-color: #94ebc5;
    --secondary-color: #08472b;
    --tertiary-color: #525252;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: #dce3e0;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    border-bottom: solid 10px var(--primary-color);
    z-index: 9999;
    
}

header h1 {
    font-weight: bold;
    font-style: italic;
    color: var(--primary-color);
    border: 5px 5px 5px 10px;
    margin: 0;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 100px;
    text-shadow: none;
    text-decoration: none;
}

/* main */
main  {
    display: flex;
    flex-direction: column;
    margin: 5%;
    justify-content: space-between;
}

.section-title {
    display: flex;
    justify-content: space-between;
}

.section-title h2 {
    display: flex;
    font-size: 45px;
    font-weight: lighter;
    font-style: italic;
    padding-right: 2%;
    width: 300px;
    border-right: solid 3px;
}

/* content sections */
#about-me, #work, #contact {
    display: flex;
    margin: 1%;
}

.content {
    display: flex;
    line-height: 2;
    text-align: left;
    margin-left: 3%;
}

/* about me section */
#about-me .content p {
    padding-right: 2%;
}

#about-me .content img {
    display: flex;
    align-self: center;
    min-width: 200px;
    border: solid 4px var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* about me end */

/* work section */
.big-title {
    display:flex;
    flex-wrap: wrap;
    background-size: 120%;
    justify-content: left;
    align-items: center;
    padding: 0 0 10px 30px;
    font-size:35px;
    border: solid var(--secondary-color) 3px;
    border-radius: 10px;
}

.beeg-title h3 {
    display: flex;
    background-color: var(--tertiary-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.beeg-card {
    width: 75%;
    margin-bottom: 30px;
    background-image: url("../images/run-buddy.png");
    border-radius: 15px;
    border: solid 4px var(--secondary-color);
}

#work h3, h4, a {
    color: var(--primary-color);
    text-decoration: none;
}

.work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    padding: 1%;
}

.work-cards h3 {
    background-color: var(--tertiary-color);
    padding: 5px;
    border-radius: 10px;
}

.title {
    display:flex;
    flex-wrap: wrap;
    width: 400px;
    height: 150px;
    padding: 10px;
    justify-content: left;
    align-items:center;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#card1{
    background-image: url("../images/horiseon.png");
    background-size: 100%;
    border: solid 4px var(--secondary-color);
}

#card2{
    background-image: url("../images/professional-portfolio.png");
    background-size: 100%;
    border: solid 4px var(--secondary-color);
}

#card3{
    background-color: white;
    background-size: 100%;
    border: solid 4px var(--secondary-color);
}

#card4{
    background-color: white;
    background-size: 100%;
    border: solid 4px var(--secondary-color);
}
/* work end*/

/* contact section */
#contact .content {
    flex-wrap: wrap;
    
}

#contact .content a h4 {
    display: flex;
    width: auto;
    padding: 5px;
    margin: 50px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border-radius: 10px;
    font-size: 30px;
}

.link {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
/* contact end */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--tertiary-color);
    width: 100%;
    padding: 40px 35px;
}

/* media queries */
@media screen and (max-width: 980px){
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    header nav ul li a {
        font-size: 20px;
    }

    #about-me, #work, #contact {
        flex-direction: column;
    }

    .section-title {
        justify-content: center;
    }

    .section-title h2 {
        display: flex;
        font-size: 45px;
        font-weight: lighter;
        font-style: italic;
        width: 300px;
        border-right: none;
        border-bottom: solid 3px;
        justify-content: center;
        text-align: center;
    }

    #about-me .bio p {
        margin: 3%;
    }

    .beeg-card, .work-cards {
        margin-top: 2%;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}

/* media queries end */