:root {
    --primary-color: #94ebc5;
    --secondary-color: #08472b;
    --tertiary-color: #525252;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: #dce3e0;
}

header {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    border-bottom: solid 10px var(--primary-color);
    z-index: 9999;
    
}

header h1 {
    font-weight: bold;
    font-style: italic;
    color: var(--primary-color);
    border: 5px 5px 5px 10px;
    margin: 0;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 100px;
    text-shadow: none;
    text-decoration: none;
}

main  {
    display: flex;
    flex-flow: column wrap;
    margin: 5%;
    justify-content: space-between;
}

.section-title {
    display: flex;
    justify-content: space-between;
}

.section-title h2 {
    display: flex;
    font-size: 45px;
    font-weight: lighter;
    font-style: italic;
    padding-right: 2%;
    width: 300px;
    border-right: solid 3px;
}

#about-me, #work, #contact {
    display: flex;
    margin: 1%;
}

.content {
    display: flex;
    line-height: 2;
    max-width: auto;
    text-align: right;
    margin-left: 3%;
}

#about-me .content p {
    padding-right: 2%;
}

.content img {
    display: flex;
    align-self: center;
    min-width: 200px;
    border: solid 4px var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* #work div img{
    max-width: 500px;
} */
